<!doctype html>
<html ng-app="myApp">
  <head>
    <title>Basic Website</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="controller.js"></script>   
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  
  </head>
  <body ng-controller="ListController">
  <form class="form-inline">
  	<div class="form-group">
  		<label for="firstn">First Name</label>
  		<input type="text" ng-model="fn"/ id="firstn" class="form-control">
  	</div>
  	<div class="form-group">
  		<label for="lastn">Last Name</label>
  		<input type="text" ng-model="ln"/ id="lastn" class="form-control">
  	</div>
  	<div class="form-group {{dobCheck()}}">
  		<label for="dob">Date of Birth</label>
  		<input type="text" ng-model="dob"/ id="dob" class="form-control" placeholder="MM/DD/YYYY">
  	</div>
  	<div class="form-group {{gpaCheck()}}">
  		<label for="gpa">GPA</label>
  		<input type="test" ng-model="gpa"/ id="gpa" class="form-control">
  	</div>
  		<input type="submit" class="btn btn-default" ng-click="addEntry()" value="Submit"/>
  </form>
  	<table class="table">
  		<thead>
  			<tr>
  				<th>Firstname</th>
  				<th>Lastname</th>
  				<th>Date of Birth</th>
  				<th>GPA</th>
  			</tr>
  		</thead>
  		<tbody>
  			<tr ng-repeat="entry in entries">
  				<td>{{entry.firstname}}</td>
  				<td>{{entry.lastname}}</td>
  				<td>{{entry.dob}}</td>
  				<td>{{entry.gpa}}</td>
  			</tr>
  		</tbody>
  	</table>
  </body>   
</html>
